.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 25px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);

  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 4px;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  transition: 0.3s;
  position: relative;
}

.nav-links a:hover {
  color: #ff3c78;
}